.card-info {
    color: rgb(54, 51, 51);
    text-align: center;
    font-size: 16px;
}
.amount-info{
    font-size: 30px;
    font-weight: bold;
    color: #3E3E3E;
    text-align: center;
}

.form-billing{
    position: absolute;
    width: 80%;
    height: 65%;
    top: 16%;
    left: 10%;  
    background: #ECF0F4;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }